<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <div class="title">
      <h1>404 Error</h1>
    </div>
    <p class="not-found">Page or blog not found 😞</p>
    <a href="/" class="delete">Home Page</a>
    <a href="/blogs/create" class="delete">About</a>
  </body>
</html>
